.flow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner-flowlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flow-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px 0 20px;
  transition: all 0.2s;
}

.flow-logo:hover{
  box-shadow: 0 0 25px #1CE55A;
}

.marca {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.slogan {
  font-size: 1.1em;
  color: gainsboro;
  margin-bottom: 20px;
}

.conteiner-rede {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 700px;
  height: 90px;
  margin-bottom: 20px;
  border-radius: 100px;
  transition: all 0.2s;
}

#whatsapp {
  border: solid 1px #1CE55A;
}

#whatsapp:hover{
  box-shadow: 0 0 20px #1CE55A;
}

#instagram {
  border: solid 1px #F52E58;
}

#instagram:hover {
  box-shadow: 0 0 20px #F52E58;
}

#facebook {
  border: solid 1px #1877F2;
}

#facebook:hover {
  box-shadow: 0 0 20px #1877F2;
}

#maps, #email {
  border: solid 1px #FF1616;
}

#maps:hover, #email:hover {
  box-shadow: 0 0 20px #FF1616;
}

#telefone {
  border: solid 1px #02E141;
}

#telefone:hover {
  box-shadow: 0 0 20px #02E141;
}

.icon-rede {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-left: 10px;
  border-radius: 100px;
}

.conteiner-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.titulo {
  font-size: 1.7em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.descrição {
  color: gainsboro;
  width: 100%;
  text-align: center;
}

.empty {
  width: 72px;
  height: 72px;
  margin-right: 10px;
}

@media screen and (max-width:425px) {
  .empty {
    display: none;
  }
}