.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 15px;
  width: calc(100% - 30px);
  height: 10vh;
  min-height: 60px;
  border-radius: 17px;
  z-index: 1;
  margin-bottom: 30px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
}

.conteiner-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.conteiner-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo {
  cursor: pointer;
  height: 7.8vh;
  min-height: 40px;
  transition: all 0.3s;
}

.logo:hover {
  height: 9vh;
}

.conteiner-links {
  display: flex;
  margin: 0 2.5vw 0 0;
  align-items: center;
}
 
.link {
  margin: 8px;
  transition: all 0.3s;
  text-decoration: none;
  opacity: 60%;
  text-shadow: 0 0 10px rgba(0, 0, 0);
  font-size: 1rem;
  color: white;
}

#actived{
  opacity: 100%;
}

.link:hover {
  opacity: 100%;
  font-size: 1.1rem;
}

.conteiner-mobile {
  display: none;
  flex-direction: column;
}

#btn {
  display: none;
}

.menu {
  display: none;
  order: 4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.5vw;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 27px;
  border-radius: 7px;
  order: 1;
  cursor: pointer;
  margin-left: 27px;
  animation: pulse 1.2s infinite;
}

.bar {
  height: 3px;
  width: 23px;
  background: white;
  border-radius: 3px;
  margin: 2px;
}

.space {
  order: 3;
  width: 53px;
  height: 10px;
}

#btn:checked + .menu {
  display: flex;
}

@media screen and (max-width: 920px) {
  .navbar {
    height: auto;
  }

  .conteiner-desktop {
    display: none;
  }

  .conteiner-mobile {
    display: flex;
  }

  .conteiner-logo {
    order: 2;
    margin: 7.24px 0 7.24px 0;
  }

  .logo:hover {
    height: 7.8vh;
  }

  .link:hover {
    font-weight: normal;
    opacity: 100%;
    font-size: 1rem;
  }
}