section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cabeçalho {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cabeçalho-img {
  width: 100%;
  height: 30vh;
  min-height: 150px;
  object-fit: cover;
  object-position: center;
}

.cabeçalho-titulo {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.conteiner-historia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.conteiner-historia > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.historia-1, .historia-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  margin-right: 10vw;
}

.historia-1 > h1, .historia-2 > h1 {
  font-size: min(8vw, 1.8em);
  color: #75d94a;
  text-align: center;
  margin-bottom: 7px;
}

.historia-1 > p, .historia-2 > p {
  font-size: min(5vw, 1.2em);
  color: gainsboro;
  text-align: center;
}

.historia-2 > p {
  margin-bottom: 30px;
}

.historia-img {
  width: 40vw;
  height: 40vw;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}

#img-1 {
  object-position: top;
}

#img-2 {
  object-position: center;
}

.historia-2 {
  order: 2;
  margin: 0 0 0 10vw;
}

@media screen and (max-width:850px) {
  .conteiner-historia > div {
    flex-direction: column;
  }

  .historia-1, .historia-2 {
    margin: 0;
    width: 80vw;
  }

  .historia-2 {
    order: 0;
  }

  .historia-1 > p {
    margin-bottom: 30px;
  }

  .historia-img {
    width: 80vw;
    max-width: 400px;
    height: 80vh;
    max-height: 400px;
  }
}