.conteiner-wabutton {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  width: 100%;
  bottom: 10px;
  margin-right: 25px;
}

.wa-button {
  width: min(70px, 16vw);
  border-radius: 100px;
  border: solid 1px #75d94a;
}

.wa-button:hover {
  box-shadow: 0 0 10px #75d94a;
}