.conteiner-wabutton {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.wa-button {
  width: 60px;
  border-radius: 100px;
  margin-right: 15px;
  transition: all 0.2s;
}

.wa-button:hover {
  width: 65px;
}